.archive-section {
  background-image: url(../image/archive3.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  .inner {
    padding-top: 150px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.85)
    );
  }
}
.archive-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}
.archive-list {
  width: 70%;
  margin-right: 40px;
  .item {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 3px 3px rgb(88, 88, 88);
    .img-wrapper-link {
      max-width: 300px;
      overflow: hidden;
      position: relative;
      .category-name {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 3px;
        width: percentage(75 / 300);
        background-color: #ff7c7c;
        color: cl(white);
        display: flex;
        justify-content: center;
        z-index: 2;
      }
      .img-wrapper {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          background-color: rgba(198, 145, 180, 0.5);
          color: rgba(255, 255, 255, 0.75);
          font-size: 1.5rem;
          transition: 0.6s;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
        }
        &:hover {
          transform: scale(1.2);
          transition: 0.3s;
          &::after {
            content: "READ MORE";
            opacity: 1;
            z-index: 1;
          }
        }
        .img {
          width: 100%;
        }
      }
    }
    .text {
      flex: 1;
      padding-left: 15px;
      .date {
        display: block;
        margin-bottom: 5px;
      }
      .title {
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
        font-size: 1.8rem;
        margin-bottom: 5px;
      }
      .desc {
        margin-bottom: 20px;
        font-size: 1.4rem;
        line-height: 1.8;
      }
      .link-wrapper {
        text-align: right;
        .link {
          font-size: 1.2rem;
          padding: 10px 20px;
          border-radius: 5px;
          color: #000000;
          border: 1px solid;
          display: inline-block;
          background-color: #ffffff;
          border-radius: 5px;
          &:hover {
            background-color: #c4c4c4;
            color: white;
          }
        }
      }
    }
  }
}
