.business-section {
  background-image: url(../image/pexels-felix-mittermeier-1205302.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  .mask {
    padding-top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    );
    padding-bottom: 90px;
  }
}
.business-text {
  padding-top: 30px;
  position: relative;
  .business-text-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 160px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    z-index: 1;
  }
}
.business-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
  color: white;
  position: relative;
  z-index: 2;
}

.book-wrapper {
  position: relative;
  z-index: 3;
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  .book-con {
    display: flex;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 1.5px 2.4px rgb(88, 88, 88);
    transition-duration: 0.4s;
    &:hover {
      transition: 0.2s ease-in-out;
      -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      transform: translateY(-5px);
      box-shadow: 8px 8px 18px 2px rgb(88, 88, 88);
    }
    .img-wrapper {
      max-width: 300px;
      .img {
      }
    }
    .text {
      padding-left: 15px;
      flex: 1;
      .title {
        font-size: 2rem;
      }
      .desc {
        margin-top: 20px;
      }
    }
  }
}

.divination-wrapper {
  max-width: 800px;
  padding: 0 20px;
  margin: 30px auto 0;
  .divination-con {
    display: flex;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1.5px 2.4px rgb(88, 88, 88);
    transition-duration: 0.4s;
    &:hover {
      transition: 0.2s ease-in-out;
      -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      transform: translateY(-5px);
      box-shadow: 8px 8px 18px 2px rgb(88, 88, 88);
    }
    .img-wrapper {
      max-width: 300px;
      .img {
      }
    }
    .text {
      flex: 1;
      padding-left: 15px;
      .title {
        font-size: 2rem;
      }
      .desc {
        margin-top: 20px;
      }
    }
  }
}
