.contact-section {
  padding-bottom: 90px;
}
.inner {
}
.contact-title {
  text-align: center;
}
.contact-img-wrapper {
  width: 20%;
  margin: 30px auto 0;

  .contact-img {
    border-radius: 50%;
  }
}
.tell {
  margin-top: 30px;
  font-size: 3rem;
  text-align: center;
}
.contact-btn-wrapper {
  text-align: center;
  margin-top: 50px;
  .contact-btn {
    display: inline-block;
    width: 400px;
    padding: 30px 0;
    background-color: #c1c1c1;
  }
}
.contact-desc {
  margin-top: 30px;
  max-width: 1100px;
  margin: 30px auto 0;
}
