.new-blog-section {
  .mask {
    padding-top: 50px;
  }
}
.inner {
}
.new-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.new-title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  @include tab {
    font-size: 1.8rem;
  }
}
.new-con {
  display: flex;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(106, 106, 116, 0.3);
  .new-tag {
    margin-right: 15px;
    color: red;
    flex: 1;
  }
  .new-list-wrapper {
    width: 100%;
    .new-link {
      color: white;
      display: block;
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #75767b;
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .new-list {
      display: flex;
      @include sp {
        display: block;
      }
      .date {
        margin-right: 15px;
        font-size: 1.4rem;
        @include sp {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      .desc {
      }
    }
  }
}

.new-btn-warpper {
  text-align: center;
  margin-top: 30px;
  .new-btn {
    display: inline-block;
    width: 150px;
    padding: 10px 0;
    background-color: #ff7c7c;
    border-bottom: solid 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    color: white;
    &:hover {
      opacity: 0.7;
    }
  }
}
