// ------------top------------//
.book-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  //#js-buttonHamburger
  #js-buttonHamburger {
  }
  .c-button {
    position: relative;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .p-hamburger {
    position: fixed;
    top: 17px;
    right: 30px;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    box-shadow: 0 0 2rem transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }
  .p-hamburger:hover,
  .p-hamburger:focus {
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
  }

  .p-hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    transition: inherit;
  }
  .p-hamburger__line::before,
  .p-hamburger__line::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: "";
    transition: inherit;
  }
  .p-hamburger__line::before {
    top: -5px;
  }
  .p-hamburger__line::after {
    top: 5px;
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line {
    background-color: transparent;
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
  .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
    top: 0;
    background-color: #ffffff;
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
    transform: rotate(45deg);
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
    transform: rotate(-45deg);
  }

  .u-visuallyHidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
  }
}
.book-top {
  height: calc((721 / 1200) * 100vw);
  background: url(../image/top-com.jpg) no-repeat center bottom / contain;
  border-bottom: 30vw solid rgb(0, 0, 0);
  @include sp {
    border-bottom: 50vw solid rgb(0, 0, 0);
  }
  .mask {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    );
    width: 100%;
    height: 100%;
    .main-title {
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
      font-size: 6vw;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      line-height: 2;
      position: absolute;
      top: 7vw;
      right: 4vw;
      color: cl(white);
      text-shadow: 0px 0px 5px #8bdaff, 0px 0px 20px #7cd5ff,
        0px 0px 40px #add9ff, 0px 0px 60px #d8f1ff, 0px 0px 80px #37b6ff,
        0px 0px 100px #ffffff;
      .br {
        display: block;
        line-height: 0.1;
      }
      .nbsp {
        display: inline-block;
      }
      @include sp {
        font-size: 8vw;
        top: 10vw;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
        line-height: 1.3;
        .br {
          display: none;
        }
        .nbsp {
          display: none;
        }
      }
    }
    .name {
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
      font-size: 1.5vw;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      -webkit-text-orientation: upright;
      text-orientation: upright;
      line-height: 2;
      position: absolute;
      top: 20vw;
      right: 28vw;
      color: cl(white);
      .br {
        display: block;
      }
      @include sp {
        top: 25vw;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
        line-height: 1.3;
        .br {
          display: none;
        }
      }
    }
    .sub-title-first {
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
      font-size: 2.3vw;
      line-height: 2;
      letter-spacing: 5px;
      position: absolute;
      top: 25vw;
      left: 18vw;
      color: cl(white);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      -webkit-text-decoration-color: cl(white);
      text-decoration-color: cl(white);
      text-underline-offset: 5px;
      text-shadow: 0px 0px 5px #0077ff, 0px 0px 20px #add7da,
        0px 0px 40px #b0c9ff, 0px 0px 60px #90f8ff;
      .br {
        display: none;
      }
      @include sp {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-text-orientation: upright;
        text-orientation: upright;
        letter-spacing: 1px;
        top: 45vw;
        right: 20vw;
        line-height: 1;
        font-size: 4vw;

        .br {
          display: block;
        }
      }
    }
    .sub-title-last {
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
      font-size: 2.3vw;
      line-height: 2;
      letter-spacing: 5px;
      position: absolute;
      top: 33vw;
      left: 16vw;
      color: cl(white);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      -webkit-text-decoration-color: cl(white);
      text-decoration-color: cl(white);
      text-underline-offset: 5px;
      text-shadow: 0px 0px 5px #ff5c5c, 0px 0px 20px #add7da,
        0px 0px 40px #b0c9ff, 0px 0px 60px #90f8ff;
      .br {
        display: none;
      }
      @include sp {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-text-orientation: upright;
        text-orientation: upright;
        letter-spacing: 1px;
        top: 45vw;
        left: 20vw;
        line-height: 1;
        font-size: 4vw;
        .br {
          display: block;
        }
      }
    }
    .main-title,
    .name,
    .sub-title-first,
    .sub-title-last {
      opacity: 0; /* ここを追加 */
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; /*これで値を保持*/
    }

    .now-on-sale {
      font-size: 3vw;
      line-height: 2;
      letter-spacing: 5px;
      position: absolute;
      top: 60vw;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      color: cl(white);
      @include sp {
        top: 80vw;
      }
    }
    .btn-wrapper {
      position: absolute;
      top: 70vw;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      @include sp {
        top: 90vw;
      }
      .fa-shopping-cart {
        margin-right: 10px;
      }
      .btn {
        width: 15vw;
        padding: 15px;
        display: inline-block;
        background-color: #fe0000;
        color: cl(white);
        font-size: 2vw;
        border-radius: 5px;
        @include sp {
          padding: 10px;
          width: 25vw;
        }
      }
    }
  }
}

// ------------wrapper------------//
.book-section-wrapper {
  background-image: url(../image/book-background2.jpg);
  background-size: cover;
  background-position: center;
  .mask {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(244, 236, 234, 1)
    );
  }
}
// ------------story------------//
.book-story-section {
  padding-top: 100px;
  text-align: center;
  line-height: 1.7;
  .inner {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    .story-title-wrapper {
      text-align: center;
      .title {
        position: relative;
        display: inline-block;
        font-size: 4rem;
        margin-bottom: 50px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #341e70;
        @include tab {
          font-size: 3rem;
        }
        @include sp {
          font-size: 2rem;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 20px;
          background: linear-gradient(
            to left,
            rgba(255, 198, 151, 0.6),
            rgba(255, 198, 151, 0.4),
            rgba(255, 198, 151, 0.2)
          );
          @include sp {
            height: 10px;
          }
        }
      }
    }
    .desc {
      font-size: 3rem;
      @include tab {
        font-size: 2rem;
      }
      @include sp {
        font-size: 1.6rem;
      }
    }
    .desc-big {
      margin-top: 140px;
      font-size: 4rem;
      text-decoration: underline;
      -webkit-text-decoration-color: #594e9b;
      text-decoration-color: #594e9b;
      text-decoration-thickness: 3px;
      text-underline-offset: 10px;
      color: #594e9b;
      font-weight: bold;
      @include tab {
        font-size: 3rem;
      }
      @include sp {
        font-size: 2rem;
        text-underline-offset: 5px;
      }
    }
  }
}
// ------------recommend------------//
.book-recommend-section {
  padding: 100px 0;
  line-height: 1.7;
  .inner {
    padding: 0 20px;
    .recommend-title-wrapper {
      text-align: center;
      .title {
        position: relative;
        display: inline-block;
        letter-spacing: 5px;
        font-size: 4rem;
        margin-bottom: 50px;
        color: #341e70;
        font-weight: bold;
        font-family: serif;
        @include tab {
          font-size: 3rem;
        }
        @include sp {
          font-size: 2rem;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 20px;
          background: linear-gradient(
            to left,
            rgba(255, 198, 151, 0.6),
            rgba(255, 198, 151, 0.4),
            rgba(255, 198, 151, 0.2)
          );
          @include sp {
            height: 10px;
          }
        }
      }
    }
    .list {
      max-width: 1000px;
      margin: 0 auto;
      padding: 60px 50px;
      border: 2px solid #594e9b;
      background: #fff;
      @include sp {
        padding: 30px 20px;
      }
      .item {
        margin-bottom: 50px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .title {
          font-size: 3rem;
          color: #594e9b;
          border-bottom: 2px solid #594e9b;
          padding: 0 0 5px;
          margin: 0 0 15px;
          @include tab {
            font-size: 2rem;
          }
        }
        .desc {
          font-weight: 300;
          font-size: 2.2rem;
          margin: 0;
          @include tab {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
// ------------store------------//
.book-store-section {
  background-color: rgba(244, 236, 234, 1);
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 1.4;
  .inner {
    padding: 0 20px;
    .book-store-wrapper {
      display: flex;
      max-width: 900px;
      color: #000;
      padding: 40px;
      margin: 0 auto 100px;
      background-color: #efefef;
      border: 1px solid #888;
      @include tab {
        display: block;
        padding: 20px;
      }
      .img-wrapper {
        max-width: 200px;
        padding-right: 40px;
        @include tab {
          padding-right: 0;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        .img {
          border: 1px solid cl(black);
        }
      }
      .text {
        flex: 1;
        .lead {
          font-size: 1.3rem;
          margin-bottom: 10px;
          @include tab {
            font-size: 1rem;
            text-align: center;
          }
        }
        .info {
          margin: 0 0 10px;
          padding: 0 0 0 25px;
          @include tab {
            text-align: center;
            padding: 0;
          }
          .title {
            font-size: 2.5rem;
            @include tab {
              font-size: 2rem;
            }
          }
          .author {
            font-size: 1.6rem;
            margin-bottom: 20px;
          }
        }
        .desc {
          line-height: 1.75;
          border-top: 2px solid #000;
          padding-top: 10px;
          padding-left: 25px;
          margin-bottom: 30px;
          @include tab {
            text-align: center;
            padding-left: 0;
          }
        }
        .store-buy-con {
          margin: 20px 0;
          .title {
            margin-bottom: 5px;
            @include tab {
              text-align: center;
            }
          }
          .flex {
            display: flex;
            flex-wrap: wrap;
            @include tab {
              justify-content: center;
            }
            .link {
              display: block;
              margin: 0 0 10px;
              padding: 0 5px;
              .store-img-wrapper {
                max-width: 190px;
                .store-img {
                }
              }
            }
          }
        }
        .book-detail {
          margin: 0 0 10px;
          padding: 0;
          font-weight: bold;
        }
        .isbn {
          font-weight: bold;
        }
        .store-desc {
          font-size: 2.5rem;
          margin-left: 25px;
          margin-bottom: 20px;
          @include tab {
            font-size: 2rem;
            margin-left: 0px;
          }
        }
      }
    }
  }
}
// ------------footer------------//
.book-footer {
  padding: 65px 0;
  text-align: center;
  .desc {
    max-width: 1000px;
    margin: 0 auto 20px;
    padding: 0 20px;
    font-size: 1.4rem;
  }
  .book-copy-right {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.2rem;
  }
}
