// cmn
.divination-cmn-sub-title {
  font-size: 2.2rem;
  margin-left: 15px;
  @include tab {
    font-size: 1.6rem;
    margin-left: 10px;
  }
}

// ---------header---------//
.divination-header {
  padding: 15px 0;
  background-color: #fef5ee;
  border-bottom: 5px solid #fed326;
  @include tab {
    margin-top: 78px;
  }
  .divination-header-nav {
    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 20px;
      @include spc {
        padding-right: 108px;
      }
      @include tab {
        display: block;
        padding-right: 20px;
      }
      .divination-header-logo-wrapper {
        margin-right: 20px;
        @include tab {
          margin-right: 0;
          text-align: center;
          margin-bottom: 20px;
        }
        .divination-header-logo-desc {
          padding-bottom: 5px;
          font-size: 1.4rem;
          color: rgb(57, 43, 255);
          text-shadow: 0 0 3px rgb(252, 255, 94);
        }
        .divination-header-logo-title {
          @include tab {
            display: inline-block;
          }
          .logo-link {
            display: block;
            &:hover {
              color: #ff65ab;
            }
            .s-title {
              font-size: 2.8rem;
              margin-right: 80px;
              @include sp {
                font-size: 2rem;
                margin-right: 20px;
              }
            }
            .m-title {
              font-size: 3.6rem;
              text-shadow: 1px 1px 3px rgb(245, 255, 103);
              @include sp {
                font-size: 2.8rem;
              }
            }
          }
        }
      }
      .divination-item-wrapper {
        display: flex;
        align-items: center;
        @include spc {
          display: block;
        }
        .divination-time-item {
          max-width: 220px;
          width: 100%;
          text-align: center;
          border: 1px solid rgb(234, 235, 222);
          margin-right: 20px;
          border-radius: 5px;
          @include spc {
            margin: 0 auto 20px;
          }
          @include tab {
            max-width: 400px;
          }
          .title {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 0 20px;
            position: relative;
            line-height: 1.5;
            background-color: hsl(335, 82%, 53%);
            color: cl(white);
            &::after {
              position: absolute;
              right: 0;
              bottom: -4px;
              left: 0;
              height: 1px;
              pointer-events: none;
              content: "";
              border-bottom: 2px solid #e92677;
            }
          }
          .desc {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 20px;
            background-color: #ffedf5;
          }
        }
        .divination-contact-item {
          text-align: center;
          .title {
            line-height: 1.8;
          }
          .btn-wrapper {
            text-align: center;
            .btn {
              display: inline-block;
              width: 200px;
              padding: 15px;
              background-color: #ffadd5;
              border-radius: 20px;
              position: relative;
              &::after {
                position: absolute;
                top: 0px;
                bottom: 0;
                margin: auto;
                left: 10px;
                display: block;
                width: 8px;
                height: 14px;
                content: "";
                background-image: url(../image/Banner.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 8px 14px;
                transition: 0.5s;
              }
              &:hover {
                &::after {
                  left: 18px;
                }
              }
              @include tab {
                max-width: 400px;
                width: 100%;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }
  }
  //#js-buttonHamburger
  .p-hamburger-wrapper {
    @include tab {
      position: fixed;
      top: 0;
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
      z-index: 100;
      background-color: #ffadd5;
      height: 78px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include sp {
      justify-content: left;
    }
    .title {
      display: none;
      @include tab {
        display: block;
      }
    }
  }
  #js-buttonHamburger {
  }
  .c-button {
    position: relative;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .p-hamburger {
    position: fixed;
    top: 34px;
    right: 30px;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ff51d4;
    box-shadow: 0 0 2rem transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
    @include tab {
      position: relative;
      position: absolute;
      top: 15px;
      right: 15px;
      border: 1px solid #ffffff;
      box-shadow: 0 0 2rem transparent;
    }
  }
  .p-hamburger:hover,
  .p-hamburger:focus {
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
  }

  .p-hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 18px;
    height: 2px;
    background-color: #ff51d4;
    transition: inherit;
    @include tab {
      background-color: #ffffff;
    }
  }
  .p-hamburger__line::before,
  .p-hamburger__line::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: "";
    transition: inherit;
  }
  .p-hamburger__line::before {
    top: -5px;
  }
  .p-hamburger__line::after {
    top: 5px;
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line {
    background-color: transparent;
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
  .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
    top: 0;
    background-color: #ff51d4;
    @include tab {
      background-color: #ffffff;
    }
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
    transform: rotate(45deg);
  }

  .p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
    transform: rotate(-45deg);
  }

  .u-visuallyHidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
  }
}

// ---------top---------//
.divination-top {
  height: 90vh;
  background: linear-gradient(to bottom, #ffa7d1, #ffe8e8);
  position: relative;
  @include tab {
    height: 60vh;
  }
  @include sp {
    height: 40vh;
  }
  .title {
    pointer-events: none;
    line-height: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 1px 1px 3px #555, -1px 1px 3px #555, 1px -1px 3px #555,
      -1px -1px 3px #555;
    @include tab {
      font-size: 2.2rem;
    }
    @include sp {
      font-size: 1.6rem;
    }
  }
}
// ---------content-section---------//
.divination-content-section {
  padding: 40px 20px;
  background-color: rgba(253, 235, 222, 0.5);
  .inner {
  }
  .list {
    max-width: 1100px;
    margin: 0 auto;
    .item {
      display: flex;
      margin-bottom: 50px;
      @include tab {
        display: block;
      }
      &:nth-of-type(2n) {
        flex-direction: row-reverse;
        .text {
          margin-right: 0;
          margin-left: 30px;
          @include tab {
            margin-right: 0;
            margin-left: 0;
          }
        }
      }
      .text {
        flex: 1;
        margin-right: 30px;
        @include tab {
          margin-right: 0;
          margin-left: 0;
        }
        .title {
          text-align: center;
          font-size: 3.4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 12px;
          @include tab {
            font-size: 2.2rem;
          }
          &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 80px;
            height: 1px;
            background-color: #fed326;
            @include sp {
              width: 20px;
            }
          }
          &::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 80px;
            height: 1px;
            background-color: #fed326;
            @include sp {
              width: 20px;
            }
          }
        }
        .desc {
          font-size: 2rem;
          line-height: 1.6;
          @include tab {
            margin-bottom: 30px;
            font-size: 1.6rem;
          }
        }
      }
      .img-wrapper {
        max-width: 440px;
        @include tab {
          margin: 0 auto;
          // max-width: 100%;
        }
        .img {
        }
      }
    }
  }
}
// ---------message-section---------//
.divination-message-section {
  background: linear-gradient(to bottom, #ffd7ea, #ffffff);
  padding: 40px 20px;
  .inner {
    .title {
      max-width: 1100px;
      margin: 0 auto;
      padding: 5px 0;
      line-height: 1.25;
      text-align: center;
      font-size: 4rem;
      border-bottom: 2px solid #fed326;
      @include tab {
        font-size: 2.2rem;
      }
    }
    .desc-wrapper {
      max-width: 1100px;
      margin: 0 auto;
      padding: 40px 0;
      .desc-flex {
        .desc {
          line-height: 2;
          font-size: 2.2rem;
          @include tab {
            font-size: 1.6rem;
          }
        }
        .img-wrapper {
          float: right;
          max-width: 300px;
          margin: 10px;
          @include sp {
            float: initial;
            margin: 0 auto 10px;
          }
          .img {
            border-radius: 10%;
          }
        }
      }
      .desc-co {
        max-width: 1100px;
        margin: 0 auto;
        line-height: 2;
        font-size: 2.2rem;
      }
    }
  }
}
// ---------features-section---------//
.divination-features-section {
  padding: 40px 20px 100px;
  .inner {
  }
  .title {
    font-size: 4rem;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 0 0 15px;
    line-height: 1.25;
    @include tab {
      font-size: 2.2rem;
    }
    &::after {
      position: absolute;
      bottom: 0;
      right: 30%;
      content: "";
      width: 100px;
      height: 5px;
      background-color: #ff9000;
      @include tab {
        width: 100%;
        right: 0;
        height: 2px;
        background-color: #fed326;
      }
    }
  }
  .list {
    max-width: 1100px;
    margin: 40px auto 0;
    .flex-item {
      display: flex;
      @include tab {
        display: block;
        margin-bottom: 70px;
      }
      &:last-of-type {
        margin-top: 30px;
        margin-bottom: 0;
      }
      .item {
        width: 50%;
        margin-right: 70px;
        @include tab {
          max-width: 100%;
          width: 100%;
          margin: 0 auto 70px;
        }
        &:last-of-type {
          margin-right: 0;
          @include tab {
            margin-bottom: 0;
          }
        }
        .sub-title-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .img {
            margin-right: 15px;
            display: inline-block;
            width: 56px;
            height: 56px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: url(../image/features.png);
            @include tab {
              margin-right: 10px;
              display: inline-block;
              width: 40px;
              height: 40px;
              overflow: hidden;
              vertical-align: middle;
              background-repeat: no-repeat;
              background-position: 0 0;
              background-size: 40px;
            }
            &::after {
              display: block;
              padding-top: 31px;
              color: rgba(255, 255, 255, 0.9);
              text-align: center;
              font-size: 20px;
              line-height: 1;
              overflow: hidden;
              @include tab {
                display: block;
                width: 39px;
                padding-top: 20px;
                line-height: 1;
                color: #fff;
                text-align: center;
                content: "1";
                font-size: 16px;
              }
            }
          }
          .img-1 {
            &::after {
              content: "1";
            }
          }
          .img-2 {
            &::after {
              content: "2";
            }
          }
          .img-3 {
            &::after {
              content: "3";
            }
          }
          .img-4 {
            &::after {
              content: "4";
            }
          }
          .sub-title {
            flex: 1;
            font-size: 2.5rem;
            @include tab {
              font-size: 2.2rem;
            }
            @include sp {
              font-size: 1.6rem;
            }
          }
        }
        .desc-wrapper {
          line-height: 1.6;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include tab {
            flex-direction: column-reverse;
          }
          .desc {
            flex: 1;
            margin-right: 20px;
            .bold {
              font-weight: bold;
              text-decoration: underline;
            }
            @include tab {
              margin-right: 0;
            }
          }
          .img-wrapper {
            max-width: 150px;
            @include tab {
              margin-bottom: 20px;
            }
            .img {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

// ---------cosutomer-section---------//
.divination-cosutomer-section {
  background-color: rgba(253, 235, 222, 0.5);
  padding: 20px 0 100px;
  .inner {
    padding: 0 20px;
    .title {
      max-width: 1100px;
      margin: 0 auto;
      text-align: center;
      font-size: 3.4rem;
      margin-bottom: 30px;
      line-height: 1.25;
      @include tab {
        font-size: 2.2rem;
      }
      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 20vw;
        height: 1px;
        background-color: #fed326;
        margin-right: 30px;
        @include sp {
          width: 20px;
          margin-right: 15px;
        }
      }
      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 20vw;
        height: 1px;
        background-color: #fed326;
        margin-left: 30px;
        @include sp {
          width: 20px;
          margin-left: 15px;
        }
      }
    }
    .flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1100px;
      margin: 0 auto;
      .content {
        max-width: 500px;
        display: flex;
        padding: 10px;
        margin-bottom: 30px;
        .img {
          background-image: url(../image/voice.png);
          display: inline-block;
          width: 60px;
          height: 60px;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 60px;
          margin-right: 15px;
          @include tab {
            width: 40px;
            height: 40px;
            background-size: 40px;
            margin-right: 10px;
          }
        }
        .desc {
          flex: 1;
          line-height: 1.5;
        }
      }
    }
    .btn-wrapper {
      text-align: center;
      .btn {
        cursor: pointer;
        display: inline-block;
        background-color: #fed326;
        width: 150px;
        padding: 15px 0;
        border-radius: 30px;
      }
    }
  }
}

// ---------footer-section---------//
.divination-footer {
  padding: 40px 0;
  background-color: rgba(253, 235, 222, 0.5);
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  .btn-wrapper {
    text-align: center;
    padding: 0 20px;
    .btn {
      display: inline-block;
      padding: 20px;
      max-width: 500px;
      width: 100%;
      box-sizing: border-box;
      background-color: #fed326;
      border-radius: 30px;
      @include sp {
        font-size: 1.4rem;
      }
    }
  }
}
.divination-footer-btm {
  padding: 65px 0;
  text-align: center;
  background-color: #ffedf5;
  .desc {
    max-width: 1100px;
    margin: 0 auto 20px;
    padding: 0 20px;
    font-size: 1.4rem;
  }
  .divination-copy-right {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.2rem;
  }
}
