.searchform {
  margin-bottom: 10px;
  #search {
    box-sizing: border-box;
    width: 80%;
    font-size: 1.6rem;
    vertical-align: middle;
    border: 1px solid #fff;

    &::placeholder {
      opacity: 0.3;
    }
  }
  .search-submit {
    padding: 4px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #fff;
  }
}
