.slide-section {
}
.slide-list {
  display: flex;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  .link {
    display: block;
    margin-right: 15px;
    margin-left: 15px;
  }
  .item {
    background-color: #fff;
    padding: 30px;
    display: flex;
  }
  .img-wrapper {
    max-width: 300px;
    margin-right: 20px;
    .img {
    }
  }
  .text {
    .title {
      font-size: 3rem;
      margin-bottom: 20px;
    }
    .desc {
      flex: 1;
    }
  }
}
.slick-prev {
  left: -60px;
  width: 40px;
  height: 40px;
}
.slick-next {
  right: -60px;
  height: 40px;
  width: 40px;
}
.slick-arrow::before {
  font-size: 40px;
}
