.wp-pagenavi {
  margin: 20px 0 40px;
  text-align: center;
  & > a,
  span {
    display: inline-block;
    width: 32px;
    padding: 5px 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(119, 119, 119, 0.3);
  }
  .last {
    margin-right: 0;
  }
  .extend {
    background-color: pink;
  }
  .previouspostslink,
  .nextpostslink {
    width: 50px;
  }
  .current {
    background-color: rgb(108, 167, 255);
  }
}
